/* Normalize */
*{
    margin: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: DINNextLTPro-Black;
    src: url(../fonts/DINNextLTPro-Black.ttf);
}
@font-face {
    font-family: DINNextLTPro-Light;
    src: url(../fonts/DINNextLTPro-Light.ttf);
}



  /* Dimensionner les diapos et leur contenu */
  /* Ajouter un fond unique, couvrant l'écran */
  /* Fixer le fond, et hop ! */
  section {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

  }
  

  /* Video */

  section:nth-of-type(1) {
    z-index: 99;
    background-image: url('../medias/images/Dune03.webp');
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
  }
  section:nth-child(1)>h2{
    font-family:'DINNextLTPro-Black';
    position: absolute;
    left: 55vh;
    top: 20vh;
  }

  section:nth-child(1)>h2,div{
    margin-top: 3vh;
  }
  
  
  /* About film */

  section:nth-of-type(2) {
    background-image: url('../medias/images/dune-production_01.jpg');
    font-size: medium;
    display: flex;
    flex-direction: column;
    padding: 20rem;
  }
  section:nth-child(2)>article>p{
    font-family:'DINNextLTPro-Light';
    columns: 3;
    
  }
  section:nth-child(2)>article{
    background-color:rgba(144, 144, 144, 0.723);
    margin-left: -20rem;
    margin-right: -20rem;
    padding: 6vh;;
  }
  section:nth-child(2)>h3{
    position: absolute;
    left: 10rem;
    top: 68rem;
    font-family: 'DINNextLTPro-Black';
  }

  /*Section Carrousel*/

  picture{
    position: relative;
    top: 10vh;

  }

  section:nth-of-type(3) {
    background-image: url('../medias/images/02.jpg');
  }
 
  .custom-slider { display: none; }
.slide-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-text {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.slide-index {
  color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

  /*Section Diaporama*/
  section:nth-of-type(4) {
    background-image: url('../medias/images/12.jpg');
  }

  section:nth-of-type(5) {
    background-image: url('../medias/images/Dune04.webp');
  }

  section:nth-of-type(6) {
    background-image: url('../medias/poster/dune_poster_vierge.png');
  }
  html {
    scroll-snap-type: y proximity;
  }
  
  /* Les enfants du conteneur sont les éléments sur lesquels le navigateur "s'aligne" */
  section {
    scroll-snap-align: start;
  }

  /*gestion css de la vidéo youtube*/
  body > div {
    position: relative;
    width: 50vw;
    height: calc(50vw * 390 / 640);
    margin: auto;
  }
  
  #video {
    width: 40vw;
    height: calc(40vw * 390 / 640);
    display: block;
    margin: 8rem;

    
  }

  .scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(30vw * 9 / 16) !important;
    top: 2vh !important;
    right: 2% !important;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* header + nav */

header{
    position: fixed;
}
header>img{
    width: 15rem;
    padding: 3vh;
}

nav{
position: fixed;
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
right: 4vh;
width: 4vh;
height: 100vh;
top:-1vh;
}





